* {
    box-sizing: border-box;
}

.photoAndName {
    display: flex;
    gap: 5px;
    align-items: center;
    margin-bottom: 4px;
}

.photo {
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

.inputButton {
    display: flex;
    justify-content: space-around;
    gap: 5px;
    align-items: center;
    margin-top: 20px;
    padding: 0 10px;
}

.inputMsg {
    width: 100%;
    height: 38px;
    font-size: 18px;
    border-radius: 5px;
    padding-left: 5px;
}

.sendButton {
    width: auto;
    padding: 5px 10px;
    font-size: 20px;
    cursor: pointer;
}


.sendButton:hover {
    background-color: bisque;
}

.listMess {
    /* position: relative; */
    width: 100%;
    height: 75vh;
    overflow-y: auto;
    box-sizing: border-box;
}

.settings {
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    height: 60px;
    background-color: rgb(0, 0, 0);
    color: white;
    z-index: 10;
    padding: 0 6px;
    border-bottom: 2px solid white;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nameAndPhotoCont {
    display: flex;
    align-items: center;
    gap: 5px;
    position: relative;
}

.nameAndPhoto {
    display: flex;
    align-items: center;
    gap: 15px;
    position: relative;
    cursor: pointer;
}

.iconMore {
    width: 40px;
    height: 40px;
    cursor: pointer;
}

.iconMore:hover {
    color: rgb(23, 22, 126);
}

.menu {
    position: absolute;
    top: 40px;
    right: 0;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    color: black;
}

.menu ul {
    list-style: none;
    margin: 0;
    padding: 10px;
}

.menu li {
    padding: 10px;
    cursor: pointer;
    transition: background-color 0.2s ease;
}

.menu li:hover {
    background-color: #f0f0f0;
}

.buttonBack {
    border: none;
    background: none;
    cursor: pointer;
    padding: 0;
}

.iconBack {
    color: white;
    width: 30px;
    height: 30px;
}

.containerMsg {
    width: 100%;
}

.msgContent {
    max-width: 300px;
    width: 100%;
    word-wrap: break-word;
    word-break: break-word;
    overflow-wrap: break-word;
}

.answersOnCall {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.rejectCall {
    border: 1px solid red;
    background-color: rgb(173, 78, 78);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 10px;
    border-radius: 100%;
}

.rejectCallIcon {
    color: white;
    width: 20px;
    height: 20px;
}

.joinToCallIcon {
    color: white;
    width: 20px;
    height: 20px;
}

.joinToCall {
    border: 1px solid green;
    background-color: rgb(7, 213, 7);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 10px;
    border-radius: 100%;
}

.joinToCall:hover {
    background-color: rgb(8, 255, 8);
}