.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 10px 48px;
  box-sizing: border-box;
  background-color: rgba(16, 57, 49, 0.288);
  border-radius: 0 0 15px 15px;
  backdrop-filter: blur(16px);
}

.logotype {
  font-weight: 700;
  font-size: 28px;
  line-height: 117%;
  letter-spacing: -0.02em;
  color: white;
  border: 2px solid white;
  border-radius: 30px;
  padding: 10px 20px;
  margin: 0;
  cursor: pointer;
}

.navAndBut {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}