.container {
    margin-top: 20px;
    padding: 40px;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 100%;
    box-sizing: border-box;
}

.card {
    background-color: rgba(0, 0, 0, 0.278);
    border-radius: 30px;
    padding: 40px;
    cursor: pointer;
    display: flex;
    gap: 40px;
    width: 100%;
    box-sizing: border-box;
    backdrop-filter: blur(8px);
    border: 1px solid white;
}

.photo {
    width: 150px;
    height: 150px;
    border-radius: 10px;
    object-fit: cover;
}

.userInfo {
    flex: 1;
}

.name {
    font-size: 24px;
    color: white;
    font-weight: 700;
}

.online {
    color: rgb(0, 236, 0);
}

.offline {
    color: red;
}

.nameAndStatus {
    display: flex;
    justify-content: space-between;
}

@media screen and (max-width: 768px) {
    .container {
        margin-top: 20px;
        padding: 0;
    }

    .card {
        padding: 20px;
        gap: 20px;
    }

    .photo {
        width: 75px;
        height: 75px;
    }
}