.videoCont {
    position: relative;
    border-radius: 1rem;
    display: flex;
    gap: 15px;
}

.video {
    width: 50%;
    border-radius: 1rem;
    background-color: black;
    object-fit: cover;
}

.friendVideoCont {
    width: 50%;
    background-color: #2d3748;
    padding: 0.25rem;
    border-radius: 1rem;
}

.friendVideo {
    width: 100%;
    height: 100%;
    border-radius: 1rem;
    object-fit: cover;
}