:root {
    --main: #103931;
    --second-color: rgba(16, 57, 49, 0.2);
    --text: #fbfbfb;
    --name-text: #11101c;
    --bgr-color: #f3f3f3;
    --button-hover: #fbfbfb;
    --hover: #d2c3c3;
    --rating: #ffc531;
}

.container {
    width: 100%;
    max-width: 1376px;
    min-height: 736px;
    margin-left: auto;
    margin-right: auto;
    background-image: url("../src/img/background-fish.jpg");
    background-size: cover;
    position: relative;
    overflow: hidden;
}

body {
    margin: 0;
}