.container {
    max-width: 1000px;
    margin: 10px auto;
    padding-left: 20px;
    padding-right: 20px;
    width: 100%;
    box-sizing: border-box;
}

.outletCont {
    position: relative;
}

.listNav {
    display: flex;
    justify-content: center;
    gap: 40px;
    background-color: rgba(16, 57, 49, 0.4);
    border-radius: 30px;
    padding: 20px;
}

.link {
    color: white;
    font-size: 28px;
    text-decoration: none;
    box-shadow: 2px 5px 5px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease;
}

.link:hover {
    box-shadow: 3px 8px 8px rgba(0, 0, 0, 0.3);
}

.active {
    text-decoration: underline;
}