.listPublications {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.container {
    margin: 40px auto;
    max-width: 800px;
}

.containerForElement {
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    padding: 30px 40px;
    border-radius: 15px;
    box-sizing: border-box;
}

.photo {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.listPublicationsItem {
    border: 1px solid white;
    border-radius: 15px;
    box-sizing: border-box;
    padding: 20px 20px 5px 20px;
}

.containerForLikesAndComments {
    margin-top: 10px;
    padding: 10px;
    width: 100%;
    border-top: 1px solid rgba(220, 220, 220, 0.573);
    display: flex;
    gap: 25px;
    color: white;
}

.likes {
    display: flex;
    align-items: center;
    gap: 5px;
    border: 1px solid rgba(220, 220, 220, 0.573);
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;

}

.likesIcon {
    width: 20px;
    height: 20px;
}

.commentsSection {
    margin-top: 10px;
    padding: 10px;
    background-color: #aba2a230;
    border-radius: 15px;
    margin-bottom: 20px
}

.commentsCont {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.commentInput {
    width: 100%;
    padding: 10px 10px 30px;
    background-color: #dcd0d0;
    border-radius: 12px;
    border: none;
    margin-bottom: 12px;

}

.commentButtonSend {
    border: black;
    border-radius: 12px;
    padding: 5px 15px;
}

.commentButton {
    border: none;
    background-color: #3c3c3c;
    color: white;
    border-radius: 5px;
    position: absolute;
    bottom: 5px;
    left: 5px;
}

.conForInputAndButton {
    position: relative;
    margin-top: 30px;
}

.nameRow {
    display: flex;
    align-items: center;
    gap: 15px;
    border-bottom: 1px solid white;
    padding-bottom: 5px;
    margin-bottom: 10px;
    cursor: pointer;
}

.friendName {
    font-weight: bold;
    font-size: 28px;
    color: white;
}

.titlePost {
    font-weight: bold;
    font-size: 24px;
    color: white;
}

.contentPost {
    font-size: 20px;
    color: white;
}

.title {
    text-align: center;
    color: white;
    margin-bottom: 20px;
    text-decoration: underline;
}

.pForNothingPublications {
    text-align: center;
    font-size: 24px;
    color: white;
}

.timeCreatingMsg {
    color: white;
}