.wrapper {
    display: flex;
    align-items: center;
    gap: 16px;
}

.username {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 18px;
    line-height: 111%;
    letter-spacing: -0.01em;
    color: #fbfbfb;
    cursor: pointer;
    transition: transform 0.3s ease;
    width: 90px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.username:hover {
    transform: scale(1.05);
}

.userNameContainer {
    display: flex;
    align-items: center;
    gap: 10px;
}

.logout {
    border: 1px solid rgba(251, 251, 251, 0.4);
    border-radius: 30px;
    padding: 14px 39px;
    background: none;

    font-family: var(--font-family);
    font-weight: 500;
    font-size: 18px;
    line-height: 125%;
    letter-spacing: -0.01em;
    color: #fbfbfb;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.logout:hover {
    color: var(--hover);
    transform: scale(1.05);
}

.userIcon {
    width: 40px;
    height: 40px;
    border-radius: 100%;
    color: #fbfbfb;
}

.userSvg {
    fill: var(--main);
    width: 16px;
    height: 16px;
}

.burgerSvg {
    display: none;
    fill: #fbfbfb;
    width: 40px;
    height: 40px;
}

@media screen and (max-width: 768px) {
    .burgerSvg {
        display: block;
    }

    .logout {
        display: none;
    }

    /* .wrapper {
        gap: 15px;
    }

    .username {
        font-size: 16px;
        width: 50px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .userNameContainer {
        gap: 8px;
    } */
}

@media screen and (max-width: 500px) {
    .wrapper {
        gap: 5px;
    }



    .logoutSVG {
        display: block;
        width: 30px;
        height: 30px;
    }
}

@media screen and (max-width: 355px) {
    .userIcon {
        display: none;
    }
}